# OneHotEncoder

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
df=pd.read_csv("C:\\Users\\vamsi\\Downloads\\CarPrice_Assignment.csv")
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [3]:
df.tail()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [4]:
df.dtypes

car_ID                int64
symboling             int64
CarName              object
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [5]:
df['CarName'].unique()

array(['alfa-romero giulia', 'alfa-romero stelvio',
       'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
       'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
       'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
       'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
       'dodge rampage', 'dodge challenger se', 'dodge d200',
       'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
       'dodge coronet custom', 'dodge dart custom',
       'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
       'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
       'honda accord', 'honda civic 1300', 'honda prelude',
       'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
       'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
       'maxda rx3', 'maxda glc deluxe', 'mazda rx2 coupe', 'mazda rx-4',
       'mazda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs',
       'mazda glc 4', 'mazda glc custom l', 'mazda glc custom',
       'buick electra 225 custom', 'buick century luxus (sw)',
       'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
       'buick skylark', 'buick century special',
       'buick regal sport coupe (turbo)', 'mercury cougar',
       'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
       'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
       'mitsubishi pajero', 'Nissan versa', 'nissan gt-r', 'nissan rogue',
       'nissan latio', 'nissan titan', 'nissan leaf', 'nissan juke',
       'nissan note', 'nissan clipper', 'nissan nv200', 'nissan dayz',
       'nissan fuga', 'nissan otti', 'nissan teana', 'nissan kicks',
       'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
       'peugeot 505s turbo diesel', 'plymouth fury iii',
       'plymouth cricket', 'plymouth satellite custom (sw)',
       'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
       'porsche macan', 'porcshce panamera', 'porsche cayenne',
       'porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
       'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
       'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
       'subaru tribeca', 'toyota corona mark ii', 'toyota corona',
       'toyota corolla 1200', 'toyota corona hardtop',
       'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii',
       'toyota corolla', 'toyota corolla liftback',
       'toyota celica gt liftback', 'toyota corolla tercel',
       'toyota corona liftback', 'toyota starlet', 'toyota tercel',
       'toyota cressida', 'toyota celica gt', 'toyouta tercel',
       'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
       'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)',
       'volkswagen super beetle', 'volkswagen dasher', 'vw dasher',
       'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
       'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
       'volvo 264gl', 'volvo diesel', 'volvo 246'], dtype=object)

In [6]:
ohe=OneHotEncoder()
ohe

OneHotEncoder()

In [7]:
ohe.fit_transform(df[['CarName','doornumber','carbody','drivewheel',
   'enginelocation','enginetype','cylindernumber','fuelsystem','aspiration','fueltype']]).toarray()

array([[0., 0., 1., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 1., 0., 1.]])

In [8]:
feature_arry =ohe.fit_transform(df[['CarName','doornumber','carbody','drivewheel',
   'enginelocation','enginetype','cylindernumber','fuelsystem','aspiration','fueltype']]).toarray()

In [9]:
feature_arry

array([[0., 0., 1., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 1., 0., 1.]])

In [10]:
ohe.categories_

[array(['Nissan versa', 'alfa-romero Quadrifoglio', 'alfa-romero giulia',
        'alfa-romero stelvio', 'audi 100 ls', 'audi 100ls', 'audi 4000',
        'audi 5000', 'audi 5000s (diesel)', 'audi fox', 'bmw 320i',
        'bmw x1', 'bmw x3', 'bmw x4', 'bmw x5', 'bmw z4', 'buick century',
        'buick century luxus (sw)', 'buick century special',
        'buick electra 225 custom', 'buick opel isuzu deluxe',
        'buick regal sport coupe (turbo)', 'buick skyhawk',
        'buick skylark', 'chevrolet impala', 'chevrolet monte carlo',
        'chevrolet vega 2300', 'dodge challenger se', 'dodge colt (sw)',
        'dodge colt hardtop', 'dodge coronet custom',
        'dodge coronet custom (sw)', 'dodge d200', 'dodge dart custom',
        'dodge monaco (sw)', 'dodge rampage', 'honda accord',
        'honda accord cvcc', 'honda accord lx', 'honda civic',
        'honda civic (auto)', 'honda civic 1300', 'honda civic 1500 gl',
        'honda civic cvcc', 'honda prelude', 'isuzu D-Max ',
        'isuzu D-Max V-Cross', 'isuzu MU-X', 'jaguar xf', 'jaguar xj',
        'jaguar xk', 'maxda glc deluxe', 'maxda rx3', 'mazda 626',
        'mazda glc', 'mazda glc 4', 'mazda glc custom',
        'mazda glc custom l', 'mazda glc deluxe', 'mazda rx-4',
        'mazda rx-7 gs', 'mazda rx2 coupe', 'mercury cougar',
        'mitsubishi g4', 'mitsubishi lancer', 'mitsubishi mirage',
        'mitsubishi mirage g4', 'mitsubishi montero',
        'mitsubishi outlander', 'mitsubishi pajero', 'nissan clipper',
        'nissan dayz', 'nissan fuga', 'nissan gt-r', 'nissan juke',
        'nissan kicks', 'nissan latio', 'nissan leaf', 'nissan note',
        'nissan nv200', 'nissan otti', 'nissan rogue', 'nissan teana',
        'nissan titan', 'peugeot 304', 'peugeot 504', 'peugeot 504 (sw)',
        'peugeot 505s turbo diesel', 'peugeot 604sl', 'plymouth cricket',
        'plymouth duster', 'plymouth fury gran sedan', 'plymouth fury iii',
        'plymouth satellite custom (sw)', 'plymouth valiant',
        'porcshce panamera', 'porsche boxter', 'porsche cayenne',
        'porsche macan', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
        'saab 99gle', 'saab 99le', 'subaru', 'subaru baja', 'subaru brz',
        'subaru dl', 'subaru r1', 'subaru r2', 'subaru trezia',
        'subaru tribeca', 'toyota carina', 'toyota celica gt',
        'toyota celica gt liftback', 'toyota corolla',
        'toyota corolla 1200', 'toyota corolla 1600 (sw)',
        'toyota corolla liftback', 'toyota corolla tercel',
        'toyota corona', 'toyota corona hardtop', 'toyota corona liftback',
        'toyota corona mark ii', 'toyota cressida', 'toyota mark ii',
        'toyota starlet', 'toyota tercel', 'toyouta tercel',
        'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
        'volkswagen 411 (sw)', 'volkswagen dasher', 'volkswagen model 111',
        'volkswagen rabbit', 'volkswagen rabbit custom',
        'volkswagen super beetle', 'volkswagen type 3', 'volvo 144ea',
        'volvo 145e (sw)', 'volvo 244dl', 'volvo 245', 'volvo 246',
        'volvo 264gl', 'volvo diesel', 'vw dasher', 'vw rabbit'],
       dtype=object),
 array(['four', 'two'], dtype=object),
 array(['convertible', 'hardtop', 'hatchback', 'sedan', 'wagon'],
       dtype=object),
 array(['4wd', 'fwd', 'rwd'], dtype=object),
 array(['front', 'rear'], dtype=object),
 array(['dohc', 'dohcv', 'l', 'ohc', 'ohcf', 'ohcv', 'rotor'], dtype=object),
 array(['eight', 'five', 'four', 'six', 'three', 'twelve', 'two'],
       dtype=object),
 array(['1bbl', '2bbl', '4bbl', 'idi', 'mfi', 'mpfi', 'spdi', 'spfi'],
       dtype=object),
 array(['std', 'turbo'], dtype=object),
 array(['diesel', 'gas'], dtype=object)]

In [11]:
feature_labels =ohe.categories_

In [12]:
np.array(feature_labels).ravel()

C:\Users\vamsi\AppData\Local\Temp/ipykernel_2644/1803594317.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  np.array(feature_labels).ravel()

array([array(['Nissan versa', 'alfa-romero Quadrifoglio', 'alfa-romero giulia',
              'alfa-romero stelvio', 'audi 100 ls', 'audi 100ls', 'audi 4000',
              'audi 5000', 'audi 5000s (diesel)', 'audi fox', 'bmw 320i',
              'bmw x1', 'bmw x3', 'bmw x4', 'bmw x5', 'bmw z4', 'buick century',
              'buick century luxus (sw)', 'buick century special',
              'buick electra 225 custom', 'buick opel isuzu deluxe',
              'buick regal sport coupe (turbo)', 'buick skyhawk',
              'buick skylark', 'chevrolet impala', 'chevrolet monte carlo',
              'chevrolet vega 2300', 'dodge challenger se', 'dodge colt (sw)',
              'dodge colt hardtop', 'dodge coronet custom',
              'dodge coronet custom (sw)', 'dodge d200', 'dodge dart custom',
              'dodge monaco (sw)', 'dodge rampage', 'honda accord',
              'honda accord cvcc', 'honda accord lx', 'honda civic',
              'honda civic (auto)', 'honda civic 1300', 'honda civic 1500 gl',
              'honda civic cvcc', 'honda prelude', 'isuzu D-Max ',
              'isuzu D-Max V-Cross', 'isuzu MU-X', 'jaguar xf', 'jaguar xj',
              'jaguar xk', 'maxda glc deluxe', 'maxda rx3', 'mazda 626',
              'mazda glc', 'mazda glc 4', 'mazda glc custom',
              'mazda glc custom l', 'mazda glc deluxe', 'mazda rx-4',
              'mazda rx-7 gs', 'mazda rx2 coupe', 'mercury cougar',
              'mitsubishi g4', 'mitsubishi lancer', 'mitsubishi mirage',
              'mitsubishi mirage g4', 'mitsubishi montero',
              'mitsubishi outlander', 'mitsubishi pajero', 'nissan clipper',
              'nissan dayz', 'nissan fuga', 'nissan gt-r', 'nissan juke',
              'nissan kicks', 'nissan latio', 'nissan leaf', 'nissan note',
              'nissan nv200', 'nissan otti', 'nissan rogue', 'nissan teana',
              'nissan titan', 'peugeot 304', 'peugeot 504', 'peugeot 504 (sw)',
              'peugeot 505s turbo diesel', 'peugeot 604sl', 'plymouth cricket',
              'plymouth duster', 'plymouth fury gran sedan', 'plymouth fury iii',
              'plymouth satellite custom (sw)', 'plymouth valiant',
              'porcshce panamera', 'porsche boxter', 'porsche cayenne',
              'porsche macan', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
              'saab 99gle', 'saab 99le', 'subaru', 'subaru baja', 'subaru brz',
              'subaru dl', 'subaru r1', 'subaru r2', 'subaru trezia',
              'subaru tribeca', 'toyota carina', 'toyota celica gt',
              'toyota celica gt liftback', 'toyota corolla',
              'toyota corolla 1200', 'toyota corolla 1600 (sw)',
              'toyota corolla liftback', 'toyota corolla tercel',
              'toyota corona', 'toyota corona hardtop', 'toyota corona liftback',
              'toyota corona mark ii', 'toyota cressida', 'toyota mark ii',
              'toyota starlet', 'toyota tercel', 'toyouta tercel',
              'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
              'volkswagen 411 (sw)', 'volkswagen dasher', 'volkswagen model 111',
              'volkswagen rabbit', 'volkswagen rabbit custom',
              'volkswagen super beetle', 'volkswagen type 3', 'volvo 144ea',
              'volvo 145e (sw)', 'volvo 244dl', 'volvo 245', 'volvo 246',
              'volvo 264gl', 'volvo diesel', 'vw dasher', 'vw rabbit'],
             dtype=object)                                                       ,
       array(['four', 'two'], dtype=object),
       array(['convertible', 'hardtop', 'hatchback', 'sedan', 'wagon'],
             dtype=object)                                             ,
       array(['4wd', 'fwd', 'rwd'], dtype=object),
       array(['front', 'rear'], dtype=object),
       array(['dohc', 'dohcv', 'l', 'ohc', 'ohcf', 'ohcv', 'rotor'], dtype=object),
       array(['eight', 'five', 'four', 'six', 'three', 'twelve', 'two'],
             dtype=object)                                              ,
       array(['1bbl', '2bbl', '4bbl', 'idi', 'mfi', 'mpfi', 'spdi', 'spfi'],
             dtype=object)                                                  ,
       array(['std', 'turbo'], dtype=object),
       array(['diesel', 'gas'], dtype=object)], dtype=object)

In [13]:
feature_labels=np.array(feature_labels).ravel()

C:\Users\vamsi\AppData\Local\Temp/ipykernel_2644/340469188.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  feature_labels=np.array(feature_labels).ravel()

In [14]:
feature_labels

array([array(['Nissan versa', 'alfa-romero Quadrifoglio', 'alfa-romero giulia',
              'alfa-romero stelvio', 'audi 100 ls', 'audi 100ls', 'audi 4000',
              'audi 5000', 'audi 5000s (diesel)', 'audi fox', 'bmw 320i',
              'bmw x1', 'bmw x3', 'bmw x4', 'bmw x5', 'bmw z4', 'buick century',
              'buick century luxus (sw)', 'buick century special',
              'buick electra 225 custom', 'buick opel isuzu deluxe',
              'buick regal sport coupe (turbo)', 'buick skyhawk',
              'buick skylark', 'chevrolet impala', 'chevrolet monte carlo',
              'chevrolet vega 2300', 'dodge challenger se', 'dodge colt (sw)',
              'dodge colt hardtop', 'dodge coronet custom',
              'dodge coronet custom (sw)', 'dodge d200', 'dodge dart custom',
              'dodge monaco (sw)', 'dodge rampage', 'honda accord',
              'honda accord cvcc', 'honda accord lx', 'honda civic',
              'honda civic (auto)', 'honda civic 1300', 'honda civic 1500 gl',
              'honda civic cvcc', 'honda prelude', 'isuzu D-Max ',
              'isuzu D-Max V-Cross', 'isuzu MU-X', 'jaguar xf', 'jaguar xj',
              'jaguar xk', 'maxda glc deluxe', 'maxda rx3', 'mazda 626',
              'mazda glc', 'mazda glc 4', 'mazda glc custom',
              'mazda glc custom l', 'mazda glc deluxe', 'mazda rx-4',
              'mazda rx-7 gs', 'mazda rx2 coupe', 'mercury cougar',
              'mitsubishi g4', 'mitsubishi lancer', 'mitsubishi mirage',
              'mitsubishi mirage g4', 'mitsubishi montero',
              'mitsubishi outlander', 'mitsubishi pajero', 'nissan clipper',
              'nissan dayz', 'nissan fuga', 'nissan gt-r', 'nissan juke',
              'nissan kicks', 'nissan latio', 'nissan leaf', 'nissan note',
              'nissan nv200', 'nissan otti', 'nissan rogue', 'nissan teana',
              'nissan titan', 'peugeot 304', 'peugeot 504', 'peugeot 504 (sw)',
              'peugeot 505s turbo diesel', 'peugeot 604sl', 'plymouth cricket',
              'plymouth duster', 'plymouth fury gran sedan', 'plymouth fury iii',
              'plymouth satellite custom (sw)', 'plymouth valiant',
              'porcshce panamera', 'porsche boxter', 'porsche cayenne',
              'porsche macan', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
              'saab 99gle', 'saab 99le', 'subaru', 'subaru baja', 'subaru brz',
              'subaru dl', 'subaru r1', 'subaru r2', 'subaru trezia',
              'subaru tribeca', 'toyota carina', 'toyota celica gt',
              'toyota celica gt liftback', 'toyota corolla',
              'toyota corolla 1200', 'toyota corolla 1600 (sw)',
              'toyota corolla liftback', 'toyota corolla tercel',
              'toyota corona', 'toyota corona hardtop', 'toyota corona liftback',
              'toyota corona mark ii', 'toyota cressida', 'toyota mark ii',
              'toyota starlet', 'toyota tercel', 'toyouta tercel',
              'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
              'volkswagen 411 (sw)', 'volkswagen dasher', 'volkswagen model 111',
              'volkswagen rabbit', 'volkswagen rabbit custom',
              'volkswagen super beetle', 'volkswagen type 3', 'volvo 144ea',
              'volvo 145e (sw)', 'volvo 244dl', 'volvo 245', 'volvo 246',
              'volvo 264gl', 'volvo diesel', 'vw dasher', 'vw rabbit'],
             dtype=object)                                                       ,
       array(['four', 'two'], dtype=object),
       array(['convertible', 'hardtop', 'hatchback', 'sedan', 'wagon'],
             dtype=object)                                             ,
       array(['4wd', 'fwd', 'rwd'], dtype=object),
       array(['front', 'rear'], dtype=object),
       array(['dohc', 'dohcv', 'l', 'ohc', 'ohcf', 'ohcv', 'rotor'], dtype=object),
       array(['eight', 'five', 'four', 'six', 'three', 'twelve', 'two'],
             dtype=object)                                              ,
       array(['1bbl', '2bbl', '4bbl', 'idi', 'mfi', 'mpfi', 'spdi', 'spfi'],
             dtype=object)                                                  ,
       array(['std', 'turbo'], dtype=object),
       array(['diesel', 'gas'], dtype=object)], dtype=object)

In [15]:
pd.DataFrame(feature_arry).head()

,0,1,2,3,4,5,6,7,8,9,...,175,176,177,178,179,180,181,182,183,184
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0

In [16]:
features=pd.DataFrame(feature_arry).head()

In [17]:
features.head()

,0,1,2,3,4,5,6,7,8,9,...,175,176,177,178,179,180,181,182,183,184
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0

# Join with original data set:

In [18]:
pd.concat([df,features],axis=1)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,175,176,177,178,179,180,181,182,183,184
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_new =pd.concat([df,features],axis=1)

In [20]:
df_new.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,175,176,177,178,179,180,181,182,183,184
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0

In [21]:
df_new.shape

(205, 211)

In [22]:
df.shape

(205, 26)